{% extends 'base.html' %}
{% block title %} Search Results - {% endblock %}
{% block content %}
    <h1>Search Input: '{{ search_string }}' </h1>

	 {% if search_string|length < 3 %}
		<p><b>ERROR:</b> {{results}}</p>
	{% else %}
		<table class="display-results">
			<tr>
				<th>Index</th>
				<th>Parcel Number</th>
				<th>Property Class</th>
				<th>Street Address</th>
				<th>City/Township</th>
				<th>Owner Name</th>
				<th>Owner Address</th>
				<th>Mailing Name</th>
				<th>Mailing Address</th>
			</tr>
			<tbody>
				{% for row in results %}
					<tr>
						<td>{{loop.index}}</td>
						<td>{{row.parcel_number}}</td>
						<td>{{row.class_description}}</td>
						<td>{{row.location_street_address}}</td>
						<td>{{row.location_city}}</td>
						<td>{{row.owner_name}}</td>
						<td>{{row.owner_address}}</td>
						<td>{{row.mailing_name}}</td>
						<td>{{row.mailing_address}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
		
{% endblock %}


