{% extends 'base.html' %}
{% block title %} Search Results - {% endblock %}

{% block content %}
	<table id="top-table">
		<tr>
			<td id="top-table" width="33%"><h1>Search Input: '{{ search_string }}' </h1></td>
			<td id="top-table" style="text-align: center;" width="33%">
			<form action="/">
				<input class="search-result-button" type="submit" value="NEW SEARCH" /> <!-- id="new-search" -->
			</form>
			</td>
			<td style="text-align: center;" width="33%">
				<input id="btnExport" class="search-result-button" type="button" value="DOWNLOAD RESULTS" onclick="downloadTable();" />
			</td>
		</tr>
	</table>


	 {% if search_string|length < 3 %}
		<p><b>ERROR:</b> {{results}}</p>
	{% else %}
		<!--<p> <input id="btnExport" type="button" value="Download Table" onclick="downloadTable();" />
				<input type="button" value="Import as Excel" onclick="saveAsExcel('search-results-table', 'landlord addresses.xlsx')"/></p> -->
		<table id="search-results-table" class="display-results">
			<tr>
				<th>Index</th>
				<th>Mailing Address</th>
				<th>Latitude</th>
				<th>Longitude</th>
				<th>Area</th>
				<th>Property Class</th>
				<th>Owner Name</th>
				<th>Owner Address</th>
				<th>Mailing Name</th>
				<th>Mailing Address</th>
			</tr>
			<tbody>
				{% for row in results %}
					<tr>
						<td>{{loop.index}}</td>
						<td>{{row.fullmailadr}}</td>
						<td>{{row.latitude}}</td>
						<td>{{row.longitude}}</td>
						<td>{{row.area_description}}</td>
						<td>{{row.class_description}}</td>
						<td>{{row.owner_name}}</td>
						<td>{{row.owner_address}}</td>
						<td>{{row.mailing_name}}</td>
						<td>{{row.mailing_address}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	{% endif %}
		
{% endblock %}
