{% extends 'base.html' %}
{% block title %} Search Results - {% endblock %}
{% block content %}
	<table id="top-table">
		<tr>
			<td id="top-table"><h1>Search Input: '{{ search_string }}' </h1></td>
			<td id="top-table" style="text-align: center;">
			<form action="/">
				<input id="new-search" type="submit" value="NEW SEARCH" />
			</form>
			</td>
		</tr>
	</table>


	 {% if search_string|length < 3 %}
		<p><b>ERROR:</b> {{results}}</p>
	{% else %}
		<table class="display-results">
			<tr>
				<th>Index</th>
				<th>Mailing Address</th>
				<th>Latitude</th>
				<th>Longitude</th>
				<th>Area</th>
				<th>Property Class</th>
				<th>Owner Name</th>
				<th>Owner Address</th>
				<th>Mailing Name</th>
				<th>Mailing Address</th>
			</tr>
			<tbody>
				{% for row in results %}
					<tr>
						<td>{{loop.index}}</td>
						<td>{{row.fullmailadr}}</td>
						<td>{{row.latitude}}</td>
						<td>{{row.longitude}}</td>
						<td>{{row.area_description}}</td>
						<td>{{row.class_description}}</td>
						<td>{{row.owner_name}}</td>
						<td>{{row.owner_address}}</td>
						<td>{{row.mailing_name}}</td>
						<td>{{row.mailing_address}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
		
{% endblock %}
